---
import Layout from "../../layouts/Layout.astro";
import EpisodeHero from "../../components/EpisodeHero.astro";
import EpisodePlayer from "../../components/EpisodePlayer.astro";
import type { Episode } from "../../types/episode";
import { getEpisodes } from "../../lib/buzzsprout";

import convert from "url-slug";

export async function getStaticPaths() {
  const episodes = await getEpisodes();

  return episodes.map((episode) => ({
    params: { slug: convert(episode.title, { dictionary: { Æ: "A" } }) },
    props: { episode },
  }));
}

const { episode } = Astro.props as { episode: Episode };
---

<Layout
  title=`${episode.title} - The Gallimaufry History Podcast`
  ,
  description="{episode.summary}"
>
  <!-- Hero section -->
  <EpisodeHero episode={episode} />

  <!-- Audio player -->
  <EpisodePlayer episode={episode} />

  <!--- Episode info -->
  <section class="container">
    <div class="episode-info-container">
      <div class="episode-info">
        <h2 class="section-header">Episode Notes</h2>
        <div class="episode-notes" set:html={episode.description} />

        <!-- Subscribe section -->
        <section class="container subscribe-section">
          <h2 class="section-header">Listen on</h2>
          <div class="subscribe-buttons">
            <a
              href="https://podcasts.apple.com/podcast/id1541207040"
              target="_blank"
              class="subscribe-button">Apple Podcasts</a
            >
            <a
              href="https://open.spotify.com/show/4QO6YrQMbF8KtgpGCjmlQZ"
              target="_blank"
              class="subscribe-button">Spotify</a
            >
            <a
              href="https://music.amazon.com/podcasts/275087d3-2808-4d10-a949-e3c193ea0e92"
              target="_blank"
              class="subscribe-button">Amazon Music</a
            >
            <a
              href="https://feeds.buzzsprout.com/1460611.rss"
              target="_blank"
              class="subscribe-button">RSS</a
            >
          </div>
        </section>
      </div>
      <div class="episode-info">
        {
          episode.artwork_url && (
            <img
              src={episode.artwork_url}
              alt={`Artword for ${episode.title}`}
              width="100%"
            />
          )
        }
      </div>
    </div>
  </section>
</Layout>
