---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

import { getEpisodes } from "../lib/buzzsprout";
import convert from "url-slug";
import { formatDuration } from "../lib/buzzsprout";
import { formatDate } from "../lib/buzzsprout";

const episodes = await getEpisodes();
---

<Layout
  title="The Gallimaufry History Podcast"
  ,
  description="Two enthusiasts of the past explore the weird, the overlooked, and the occasionally ridiculous. New episodes monthly, crafted in a carpet shop basement."
>
  <!-- Hero section -->
  <Hero />

  <!-- Episode listing -->
  <section class="container">
    <div class="episode-list">
      <div class="episode-list-header">
        <span class="episode-list-header-title">Episodes</span>
        <span class="episode-list-header-count"
          >{Object.keys(episodes).length} total</span
        >
      </div>

      {
        episodes.map((episode) => (
          <div class="episode-row">
            <span class="episode-number">{episode.episode_number}</span>
            <span class="episode-title">
              <a
                href={`/episodes/${convert(episode.title, { dictionary: { Æ: "A" } })}`}
              >
                <p>{episode.title}</p>
              </a>
            </span>
            <div class="episode-data">
              <span class="episode-date">
                {formatDate(episode.published_at)}
              </span>
              <span class="episode-length">
                {formatDuration(episode.duration)}
              </span>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
